extends layout

block content

    h2 Lexicon index page content
    br
    br
    .row.full-width
        .col-md-4
            .well
                h2.well-title Users
        .col-md-4
            .well
                h2.well-title Glossaries
        .col-md-4
            .well
                h2.well-title Entries

