extends layout

block content

    h2 Lexicon index page content
    br
    br
    .row
        .col-md-4
            .well
                h2 Users
        .col-md-4
            .well
                h2 Glossaries
        .col-md-4
            .well
                h2 Entries

