extends layout

block content

    h2 Lexicon index page content
    br
    br
    .row
        each model in h.models
            a.col-md-4(href=model.slug)
                .well
                    h2 #{model.title}