extends layout

block content

    h2 Lexicon index page content
    br
    br
    .row.full-width
        .col-md-4.well(style="background-color: #efefef;")
            h2 Users
        .col-md-4.well(style="background-color: #efefef;")
            h2 Glossaries
        .col-md-4.well(style="background-color: #efefef;")
            h2 Entries

