extends layout

block content
    .row
        .col-md-3
        .col-md-6
            .quote
                blockquote
                        h2 “
                        h3 #{h.motto}
    br
    br
    .row
        each model in h.models
            a.col-md-4(href=model.slug)
                .well.well-sm
                    h2 #{model.title}

    .row
        each feat in h.features
            .col-md-4
                .well
                    each list in feat
                        ul.list-group
                            li.list-group-item #{list.feature}