doctype html
html(lang="en")
  head
    //- title= `${title} | ${h.siteName}`
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    //- Bootstrap Latest compiled and minified CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

    //- Axios:
    script(src="https://unpkg.com/axios@0.17.0/dist/axios.min.js")

    //- custom
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/favicon.png")
    
  body
    .container-fluid
    
      block header
        h1 Menu goes here

      block content
      block scripts
    //- Bootstrap jQuery library
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    //- Bootstrap Latest compiled JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
      
