doctype html
html(lang="en")
  head
    //- title= `${title} | ${h.siteName}`
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    //- Bootstrap Latest compiled and minified CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

    //- Axios:
    script(src="https://unpkg.com/axios@0.17.0/dist/axios.min.js")

    //- custom
    link(rel='stylesheet' href='/dist/style.css' type="text/css")
    link(rel="shortcut icon" type="image/png" href="/images/icons/favicon.png")
    style footer { position: absolute; right: 0; bottom: 0; left: 0; padding: 1rem; background-color: #efefef; text-align: center; }
    style body { position: relative; margin: 0; padding-bottom: 6rem; min-height: 100%; }
    style html { height: 100%; box-sizing: border-box; }
    style .content { margin: 0 auto; padding-top: 64px; max-width: 640px; width: 94%; }
    style *, *:before, *:after { box-sizing: inherit; }
  body
    
    block header
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
          .navbar-header
            button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="/") Lexicon
          .collapse.navbar-collapse#myNavbar
            ul.nav.navbar-nav
              li.active
                a(href="/") Home
              li
                a(href="/user/all") Users
              li
                a(href="/glossary/all") Glossaries
              li
                a(href="/entry/all") Entries
            ul.nav.navbar-nav.navbar-right
              li
                a(href="#")
                  span.glyphicon.glyphicon-user 
                  | Sign Up
              li
                a(href="#")
                  span.glyphicon.glyphicon-log-in 
                  | Login

    br
    br
    .container-fluid.content
      block content
    
    block footer
      footer This footer will always be positioned at the bottom of the page, but 
        strong not fixed.

    block scripts
    //- Bootstrap jQuery library
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    //- Bootstrap Latest compiled JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    //- bundle cliend side javascript
    //- script(src="/dist/App.bundle.js")
      
