doctype html
html(lang="en")
  head
    title= `${title} | ${h.siteName}`
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    
    //- Bootstrap Latest compiled and minified CSS
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")

    //- Axios:
    script(src="https://unpkg.com/axios@0.17.0/dist/axios.min.js")

    //- custom
    link(rel='stylesheet' href='/dist/style.css' type="text/css")
    link(rel="shortcut icon" type="image/png" href="/images/icons/favicon.png")

  body
    
    block header
      nav.navbar.navbar-inverse.navbar-fixed-top
        .container-fluid
          .navbar-header
            button.navbar-toggle(type="button" data-toggle="collapse" data-target="#myNavbar")
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="/") Lexicon
          .collapse.navbar-collapse#myNavbar
            ul.nav.navbar-nav
              each item in h.menu
                li(class=(currentPath.startsWith(item.slug) ? 'active' : ''))
                  a(href=item.slug) #{item.title}
              
            ul.nav.navbar-nav.navbar-right
              li
                a(href="#")
                  span.glyphicon.glyphicon-user 
                  | Sign Up
              li
                a(href="#")
                  span.glyphicon.glyphicon-log-in 
                  | Login

    br
    br
    .container-fluid.content
      block content
    
    block footer
      footer 
        span(style="float: left; margin-left: 10%") FAQ
        <i class="glyphicon glyphicon-copyright-mark"></i> 
        strong 2017
          script.
            new Date().getFullYear()>2010&&document.write("-"+new Date().getFullYear());
          |  LEXICON
        span(style="float: right; margin-right: 10%") LANGUAGE

    block scripts
    //- Bootstrap jQuery library
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    //- Bootstrap Latest compiled JavaScript
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    //- bundle cliend side javascript
    script(src="/dist/App.bundle.js")
      
