h2 {
    @include text-centered;
}

.row {
    @include full-width-content;
    a {
        color: $default-link-text;
        text-decoration: none;
         :hover {
            color: $hover-text;
            background-color: $hover-background;
        }
    }
}