html {
    height: 100%;
    box-sizing: border-box;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: $light-container;
    text-align: center;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    .content {
        margin: 0 auto;
        padding-top: 64px;
        max-width: 640px;
        width: 94%;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.center {
    @include text-centered;
}

li {
    color: $list-text;
}

th {
    @include table-header-font;
}

td {
    @include table-body-text;
}