@mixin full-width-content {
    width: 90vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -45vw;
    margin-right: -45vw;
}

@mixin text-centered {
    text-align: center;
}

@mixin quote {
    blockquote {
        border-left: none;
        overflow: hidden;
        padding-top: -100px;
        margin-top: -10px;
        width: inherit;
        border-radius: 3px;
        box-shadow: 2px 2px 2px 2px $shadow;
    }
    h2 {
        text-align: left;
        margin-top: -10px;
        margin-bottom: -15px;
        font-weight: bold;
        font-size: 100px;
        @include quote-font;
    }
    h3 {
        @include quote-font;
        @include text-centered;
        font-size: 2em;
        margin-top: -50px;
    }
}