@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
@import url('https://fonts.googleapis.com/css?family=Cantarell');
@mixin quote-font {
    font-family: 'Lora', serif;
    color: $quote-font;
}

@mixin table-header-font {
    font-family: 'Inconsolata', monospace;
    color: $table-header-text;
    font-size: 1.5em;
}

@mixin table-body-text {
    font-family: 'Cantarell', sans-serif;
    color: $table-body-text;
    font-size: 1.3em;
}