$light-container: #efefef;
$hover-text: #F7F9F9;
$hover-background: #85929E;
$default-link-text: #85929E;
$shadow: #ECF0F1;
$white-container: #F4F6F7;
$quote-font: #85929E;
$list-text: #2E4053;
$table-header-text: #2E4053;
$table-body-text: #85929E;