html {
    height: 100%;
    box-sizing: border-box;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    .content {
        margin: 0 auto;
        padding-top: 64px;
        max-width: 640px;
        width: 94%;
        .full-width {
            width: 90vw;
            position: relative;
            left: 50%;
            right: 50%;
            margin-left: -45vw;
            margin-right: -45vw;
        }
    }
    .well {
        background-color: #efefef;
    }
    .well-title {
        text-align: center;
    }
}

*,
*:before,
*:after {
    box-sizing: inherit;
}